
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Major+Mono+Display&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');




body {
  background-color: #c0ebfc;
  color: jetblack;
  max-width: 700px;
  margin: auto;
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h1, h2, h3 {
  color; white;
  text-align:center;
  background-color:#cbf5e4;
   font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
}

a {
    color: purple;
} 


A:hover {
  background-color: white;
  color:purple;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
}

Table, img {
Display: inline-block;
}